// Background
$main-background-color: #191a1e
$secondary-background-color: #221252932323

// Border
$main-border-color: #2e3235
$border-radius: 2rem

// Color
$color-white: #fff
$color-gray: #ccc

// Offsets
$main-start-offset: 1rem
$secondary-start-offset: 2rem

// Widths
$login-list-width: 350px

// Heights
$app-header-min-height: 3rem
$login-header-min-height: 4.4rem
$search-height: 5rem

:root
	// Background
	--main-background-color: #{$main-background-color}
	--secondary-background-color: #{$secondary-background-color}

	// Border
	--main-border-color: #{$main-border-color}
	--border-radius: #{$border-radius}

	// Color
	--color-white: #{$color-white}
	--color-gray: #{$color-gray}

	// Offsets
	--main-start-offset: #{$main-start-offset}
	--secondary-start-offset: #{$secondary-start-offset}

	// Widths
	--login-list-width: #{$login-list-width}

	// Heights
	--app-header-min-height: #{$app-header-min-height}
	--login-header-min-height: #{$login-header-min-height}
	--search-height: #{$search-height}
